* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* scrollbar */
::-webkit-scrollbar {
  background: #000;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-button {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(66, 0, 123);
  border-radius: 10px;
  filter: drop-shadow(0 0 10px #fff);
}

::-webkit-scrollbar-thumb:hover {
  background: #350069;
}

/* scrollbar ends */

:root {
  --ff-changa: 'Changa', sans-serif;
  --ff-cinzel: 'Cinzel', sans-serif;
  --ff-maven: 'Maven Pro', sans-serif;
}

/*  google fonts */

.changa {
  font-family: "Changa", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 100; */
  font-style: normal;
}

.maven-pro {
  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style: normal;
}

.maven-pro {
  font-family: "Cinzel", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style: normal;
}

/* ============================   main css starts =================================  */

html {
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

body {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  max-width: 1920px;
  background: linear-gradient(180deg, #18003f 0%, #000 100%);
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

#main{
  /* position: relative; */
}
/* cursor  */

#cursor{
  height: 15px;
  width: 15px;
  background-color: #8f00ff;
  border-radius: 50%;
  /* position: absolute; */
  position: fixed;
  transition: transform .2s ease;
  transform-origin: center center;
  pointer-events: none;
z-index: 999;
}



/* top logo */
.hero-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.hero-logo img {
  height: 3.5rem;
  position: absolute;
  z-index: 10;
}

/*  nav links start  */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  position: relative;
  /* background-color: #171515; */

  /* padding: 0 12rem 0 0; */
  overflow: hidden;
  z-index: 9;
  scroll-behavior: smooth;
  margin-bottom: 1rem;
}

/* left side nav */

.nav-items-left {
  /* background-color: #373535; */
  position: relative;
  text-decoration: none;
  scroll-behavior: smooth;
}

.nav-items-left img {
  height: 2.7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  /* -ms-transform: translate(-50%, -50%); */
  transform: translate(85%, 0%);
  /* background-color: rgb(140, 255, 0); */
  z-index: 6;
}

.nav-items-left h3 {
  color: #fff;
  /* background-color: rgb(0, 0, 0); */
  position: absolute;
  white-space: nowrap;
  font-family: var(--ff-changa);
  z-index: 8;
  top: 50%;
  left: 50%;
  font-weight: 200;
  /* -ms-transform: translate(-50%, -50%); */
  transform: translate(190%, 15%);
}

/* right side nav */

.nav-items-right {
  /* background-color: #373535; */
  position: relative;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items-right img {
  height: 2.7rem;
  position: absolute;

  top: 50%;
  left: 50%;
  /* -ms-transform: translate(-50%, -50%); */
  transform: translate(-185%, 0%);
  /* background-color: rgb(140, 255, 0); */
  z-index: 6;
}

.nav-items-right h3 {
  color: #fff;
  /* background-color: rgb(0, 0, 0); */
  position: absolute;
  white-space: nowrap;
  font-family: var(--ff-changa);
  z-index: 8;
  /* left: 0; */
  font-weight: 200;

  top: 50%;
  left: 50%;
  /* -ms-transform: translate(-50%, -50%); */
  transform: translate(-330%, 15%);
}

/* ------------- Ball Background hero section -------------- */

.ball-bg {
  min-height: 100vh;
  /* position: relative; */
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.ball1 {
  width: 160px;
  height: 160px;

  position: absolute;
  top: 5%;
  left: 8%;

  border-radius: 50%;
  fill: rgba(63, 0, 102, 0.39);
  box-shadow: 16px 4px 19.9px 6px rgba(143, 0, 255, 0.25) inset;
  filter: drop-shadow(0px 4px 50.5px rgba(112, 19, 230, 0.50));
  animation: ballmove1 1.5s ease-in-out .2s infinite alternate;
}

/* animation */

@keyframes ballmove1 {
  from {
    left: 8%;
    top: 5%;
  }
  to {
    left: 9%;
    top: 6%;
  }
}

.ball2 {
  width: 100px;
  height: 100px;

  position: absolute;
  top: 30%;
  left: 20%;

  border-radius: 50%;
  fill: rgba(63, 0, 102, 0.39);
  box-shadow: 16px 4px 19.9px 6px rgba(143, 0, 255, 0.25) inset;
  filter: drop-shadow(0px 4px 50.5px rgba(112, 19, 230, 0.50));
  animation: ballmove2 2s ease-in-out .3s infinite alternate;
}

/* animation */

@keyframes ballmove2 {
  from {
    left: 20%;
    top: 30%;
  }
  to {
    left: 22%;
    top: 29%;
  }
}

.ball3 {
  width: 190px;
  height: 190px;

  position: absolute;
  top: 50%;
  left: 6%;

  border-radius: 50%;
  fill: rgba(63, 0, 102, 0.39);
  box-shadow: 16px 4px 19.9px 6px rgba(143, 0, 255, 0.25) inset;
  filter: drop-shadow(0px 4px 50.5px rgba(112, 19, 230, 0.50));
  animation: ballmove3 2s ease-in-out .3s infinite alternate;
}

/* animation */

@keyframes ballmove3 {
  from {
    left: 6%;
    top: 50%;
  }
  to {
    left: 8%;
    top: 49%;
  }
}

.ball4 {
  width: 208px;
  height: 205px;

  position: absolute;
  top: 10%;
  right: 9%;

  border-radius: 50%;
  fill: rgba(63, 0, 102, 0.39);
  box-shadow: 16px 4px 19.9px 6px rgba(143, 0, 255, 0.25) inset;
  filter: drop-shadow(0px 4px 50.5px rgba(112, 19, 230, 0.50));

  animation: ballmove4 1.5s ease-in-out .3s infinite alternate;
}

/* animation */

@keyframes ballmove4 {
  from {
    right: 9%;
    top: 10%;
  }
  to {
    right: 11%;
    top: 12%;
  }
}

.ball5 {
  width: 300px;
  height: 300px;

  position: absolute;
  top: 45%;
  right: -12%;

  border-radius: 50%;
  border-radius: 350px;
  background: rgba(63, 0, 102, 0.39);
  box-shadow: 0px 4px 50.5px 2px rgba(112, 19, 230, 0.50),
    16px 4px 19.9px 6px rgba(143, 0, 255, 0.25) inset;

  animation: ballmove5 2s ease-in-out .3s infinite alternate;
}

/* animation */

@keyframes ballmove5 {
  from {
    top: 45%;
    right: -12%;
  }
  to {
    top: 43%;
    right: -8%;
  }
}

.hero-section {
  /* height: 40rem; */
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  /* padding: 0 5rem; */
  /* background-color: #917aa9; */
}

.hero-section img {
  height: 35rem;
  margin-top: -2.3rem;
  overflow: hidden;
  z-index: 150;
}

.hero-section  h3 {
  color: #fff;
  filter: drop-shadow(0 0 6px #fff);
  font-family: var(--ff-maven);
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  margin-top: -1.5rem;
  line-height: 2rem;
}

/* ==================== responsive code starts ================================ */

@media screen and (max-width: 1000px) {
  .hero-logo {
    width: 100%;
  }

  .hero-logo img {
    height: 3rem;
  }

  /*  nav links start  */

  nav {
    height: 7rem;
  }

  .nav-items-left {
    /* background-color: #373535; */
    position: relative;
  }

  .nav-items-left img {
    height: 2.3rem;
    top: 50%;
    left: 50%;
    transform: translate(85%, 0%);
  }

  .nav-items-left h3 {
    color: #fff;
    top: 50%;
    left: 50%;
    font-size: 1.1rem;
    font-weight: 200;
    transform: translate(170%, 11.5%);
  }

  /* right side nav */

  .nav-items-right {
    position: relative;
  }

  .nav-items-right img {
    height: 2.3rem;
    top: 50%;
    left: 50%;
    transform: translate(-185%, 0%);
  }

  .nav-items-right h3 {
    font-weight: 200;
    font-size: 1.1rem;
    top: 50%;
    left: 50%;
    transform: translate(-300%, 11.5%);
  }

  /* ------------- Ball Background hero section -------------- */

  .ball-bg {
    min-height: 100vh;
  }

  .ball1 {
    width: 120px;
    height: 120px;

    position: absolute;
    top: 4%;
    left: 3%;
    animation: ballmove1 1.5s ease-in-out .2s infinite alternate;
  }

  /* animation */

  @keyframes ballmove1 {
    from {
      left: 4%;
      top: 4%;
    }
    to {
      left: 7%;
      top: 6%;
    }
  }

  .ball2 {
    width: 70px;
    height: 70px;

    position: absolute;
    left: 10%;
    top: 40%;

    border-radius: 50%;
    fill: rgba(63, 0, 102, 0.39);
    box-shadow: 16px 4px 19.9px 6px rgba(143, 0, 255, 0.25) inset;
    filter: drop-shadow(0px 4px 50.5px rgba(112, 19, 230, 0.50));
    animation: ballmove2 2s ease-in-out .8s infinite alternate;
  }

  /* animation */

  @keyframes ballmove2 {
    from {
      left: 10%;
      top: 40%;
    }
    to {
      left: 16%;
      top: 35%;
    }
  }

  .ball3 {
    width: 150px;
    height: 150px;
    /* top: 50%;
  left: 6%; */
    animation: ballmove3 2s ease-in-out .3s infinite alternate;
  }

  /* animation */

  @keyframes ballmove3 {
    from {
      left: 2%;
      top: 60%;
    }
    to {
      left: 6%;
      top: 56%;
    }
  }

  .ball4 {
    width: 160px;
    height: 160px;

    position: absolute;
    top: 10%;
    right: 9%;
    animation: ballmove4 1.5s ease-in-out .3s infinite alternate;
  }

  /* animation */

  @keyframes ballmove4 {
    from {
      right: 2%;
      top: 2%;
    }
    to {
      right: 4%;
      top: 8%;
    }
  }

  .ball5 {
    width: 230px;
    height: 230px;

    position: absolute;
    top: 45%;
    right: -12%;

    border-radius: 50%;
    border-radius: 350px;
    background: rgba(63, 0, 102, 0.39);
    box-shadow: 0px 4px 50.5px 2px rgba(112, 19, 230, 0.50),
      16px 4px 19.9px 6px rgba(143, 0, 255, 0.25) inset;

    animation: ballmove5 2s ease-in-out .3s infinite alternate;
  }

  /* animation */

  @keyframes ballmove5 {
    from {
      top: 45%;
      right: -10%;
    }
    to {
      top: 45%;
      right: -4%;
    }
  }

  .hero-section {
    /* height: 40rem; */
    width: 100%;
    /* padding: 0 5rem; */
  }

  .hero-section img {
    height: 28rem;
    margin-top: -2rem;
    z-index: 15;
  }

  .hero-section  h3 {
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: -1.3rem;
    line-height: 1.8rem;
  }
}

/* ============================= mobile jaisa size karna hai ======================================== */

@media screen and (max-width: 700px) {
  .hero-logo {
    width: 100%;
  }

  .hero-logo img {
    height: 2.4rem;
  }

  /*  nav links start  */

  nav {
    height: 6rem;
    /* background: #ffffff1d; */
    margin: 0;
    /* position:inherit; */
    z-index: 15;
  }

  .nav-items-left {
    /* background-color: #373535; */
    position: relative;
    margin-top: 1.8rem;
    margin-bottom: .3rem;
  }

  .nav-items-left img {
    height: 1.7rem;
    top: 60%;
    left: 50%;
    transform: translate(18%, 0%);
  }

  .nav-items-left h3 {
    color: #fff;
    top: 50%;
    left: 50%;
    font-size: .9rem;
    font-weight: 200;
    transform: translate(48%, 0%);
  }

  /* right side nav */

  .nav-items-right {
    position: relative;
    margin-top: 1.7rem;
    margin-bottom: .3rem;
  }

  .nav-items-right img {
    height: 1.7rem;
    top: 50%;
    left: 50%;
    transform: translate(-118%, 0%);
  }

  .nav-items-right h3 {
    font-weight: 200;
    font-size: .9rem;
    top: 50%;
    left: 50%;
    transform: translate(-159%, 0%);
  }

  /* ------------- Ball Background hero section -------------- */

  .ball-bg {
    min-height: 100vh;
    /* z-index: 99; */
    position: absolute;
  }

  .ball1 {
    width: 90px;
    height: 90px;

    position: absolute;
    top: -15%;
    left: 3%;
    animation: ballmove1 1.5s ease-in-out .2s infinite alternate;
  }

  /* animation */

  @keyframes ballmove1 {
    from {
      left: 4%;
      top: 0%;
    }
    to {
      top: 4%;
      left: 0%;
    }
  }

  .ball2 {
    width: 50px;
    height: 50px;

    position: absolute;
    left: 10%;
    top: 40%;

    border-radius: 50%;
    fill: rgba(63, 0, 102, 0.39);
    box-shadow: 16px 4px 19.9px 6px rgba(143, 0, 255, 0.25) inset;
    filter: drop-shadow(0px 4px 50.5px rgba(112, 19, 230, 0.50));
    animation: ballmove2 2s ease-in-out .8s infinite alternate;
  }

  /* animation */

  @keyframes ballmove2 {
    from {
      left: 10%;
      top: 40%;
    }
    to {
      left: 16%;
      top: 35%;
    }
  }

  .ball3 {
    width: 110px;
    height: 110px;
    /* top: 50%;
  left: 6%; */
    animation: ballmove3 2.2s ease-in-out .8s infinite alternate;
  }

  /* animation */

  @keyframes ballmove3 {
    from {
      left: 2%;
      top: 56%;
    }
    to {
      left: 16%;
      top: 50%;
    }
  }

  .ball4 {
    width: 130px;
    height: 130px;

    position: absolute;

    animation: ballmove4 1.8s ease-in-out .3s infinite alternate;
  }

  /* animation */

  @keyframes ballmove4 {
    from {
      right: -25%;
      top: 0%;
    }

    to {
      right: -15%;
      top: 2%;
    }
  }

  .ball5 {
    width: 180px;
    height: 180px;
    position: absolute;
    animation: ballmove5 2s ease-in-out .3s infinite alternate;
  }

  /* animation */

  @keyframes ballmove5 {
    from {
      top: 36%;
      right: -19%;
    }
    to {
      top: 42%;
      right: -14%;
    }
  }

  .hero-section {
    /* height: 40rem; */
    width: 100%;
    /* padding: 0 5rem; */
  }

  .hero-section img {
    /* height: 13.5rem; */
    height: 75vw;
    /* max-height: 15rem; */
    margin-top: 1.5rem;
    z-index: 15;
  }

  .hero-section  h3 {
    font-weight: 500;
    font-size: .9rem;
    margin-top: 0rem;
    line-height: 1.4rem;
    padding: 0 .8rem;
  }
}

/*--------------------      notes section starts    ---------------------------   */

.notes {
  min-height: 100vh;
  /* background-color: #7832be; */
  padding: 2rem 5rem;
  display: flex;
  justify-content: center;

  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 5rem;
  scroll-behavior: smooth;

  position: relative;
}

/* background circles */

.notes .bg-circle {
  border-radius: 788px;
  height: 40rem;
  width: 40rem;
  position: absolute;
  opacity: 0.6;
  background: #8f00ff;
  filter: blur(300px);
  animation: movec 4s ease-in-out .2s infinite alternate;
}

@keyframes movec {
  from {
    top: 0%;
  }
  to {
    top: 105%;
  }
}

.notes .heading {
  width: 100%;
  height: 2rem;
  position: relative;
  margin-bottom: 2rem;
}

.notes .heading svg {
  position: absolute;
  height: 3.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notes .heading h3 {
  color: #fff;
  font-family: var(--ff-changa);
  font-size: 1.5rem;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notes .container {
  width: 100%;
  min-height: 15rem;

  position: relative;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(83, 0, 188, 0.30) 0%,
    rgba(115, 115, 115, 0.00) 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 0;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px; /* same value as the main element */
  padding: 1.5px; /* same value as the padding of the main element */
  background: linear-gradient(
    to right,
    #ffffff,
    #ffffff41
  ); /* gradient background */
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
/* container 2 and 4 th border color */
.container2::before {
  background: linear-gradient(to right, #ffffff41, #fff);
}
.container4::before {
  background: linear-gradient(to right, #ffffff41, #fff);
}
.notes .container h1 {
  font-family: var(--ff-cinzel);
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.notes .container .notes-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 0 .5rem;
  /* background-color: #350069; */
}

.notes .container .notes-container .box a{
  text-decoration: none;
}
.notes .container .box {
  width: 16%;
  min-width: 13rem;
  min-height: 12rem;
  background: linear-gradient(#13003841, #19012b);
  border-radius: 1rem;
  overflow: hidden;
  filter: drop-shadow(0 0 8px #00000038);
  transition: .3s all ease-in-out;
  transition-delay: 0.01s;
}
.notes .container .box:hover {
  transform: translateY(-10px) scale(1.03);
}
.notes .container .box:hover img {
  transform: scale(1.05);
}
/* image section notes */
.notes .container .box .p1 {
  width: 100%;
  height: 7rem;
  background-color: #52068256;
}
.notes .container .box .p1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: .3s all ease-in-out;
}
/* text section */
.notes .container .box .p2 {
  width: 100%;
  min-height: 5rem;
  max-height: 8rem; /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 6px; /* background-color: #5900f4; */
}
.notes .container .box .p2  h3,
h4 {
  text-decoration: none;
  color: #fff;
  font-family: var(--ff-maven);
  font-size: 1.2rem;
  font-weight: 600;
}
.notes .container .box .p2  h4 {
  font-size: .9rem;
  font-weight: 400;
  letter-spacing: .6px;
  overflow: hidden;
  text-align: center;
  padding: 0 1rem .2rem;
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #b5b5b5;
  font-family: "Maven Pro";
}
/* -------------------------SHIVANI PDF CSS STARTS ---------------------------------- */
.shivani-pdf {
  min-height: 50vh;
  margin-top: 2.5rem;
  padding: 1rem 0;
}
.shivani-pdf .heading {
  width: 100%;
  height: 2rem;
  position: relative;
  margin-bottom: 2rem;
}
.shivani-pdf .heading svg {
  position: absolute;
  height: 3.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.shivani-pdf .heading h3 {
  color: #fff;
  font-family: var(--ff-changa);
  font-size: 1.5rem;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.shivani-cont {
  width: 100%;
  /* min-height: 15rem; */
  /* background-color: #350069; */
  padding: 1rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 3rem;
  gap: 2.5rem;
}
.shivani-cont .book {
  min-height: 15rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: .4rem;
  overflow: hidden;
  background: linear-gradient(#0f011316, #27004e);
  /* border: 1px solid #ffff; */
  filter: drop-shadow(0 0 10px #360039);
}
.shivani-cont .book:hover {
  transform: perspective(800px) rotateY(-10deg) translateY(-20px) rotateX(10deg)
    scale(1);
  filter: blur(0);
  opacity: 1;
  transition: all .4s ease-in-out;
  transition-delay: .1s;
}
.shivani-cont .book .shivani-img {
  height: 16rem;
  max-height: 18rem;
  /* height: 80%; */
  background-color: #52068256;
  width: 100%;
}
.shivani-cont .book .shivani-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.shivani-cont .book .shivani-txt {
  /* background-color: #252525; */
  width: 100%;
  min-height: 3rem;
  padding: .3rem .5rem;
  display: flex;
  justify-content: center;
  gap: 3px;
  /* align-items: center; */
  flex-direction: column;
  border-top: 1px solid #fff;
  text-decoration: none;
}
.shivani-cont .book .shivani-txt .sub-heading {
  color: #b5b5b5;
  font-family: var(--ff-maven);
  font-size: 14px;
  font-weight: 400;
}
.shivani-cont .book .shivani-txt .shivani-name {
  color: #fff;
  font-family: var(--ff-maven);
  font-size: 1.1rem;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}


.bg-circle-m{
  display: none;
}

/* -------------====================- Responsive code hero  ---======================------------ */
@media screen and (max-width: 1000px) {
  .notes {
    padding: 1rem 3rem;
    gap: 1rem;
    margin-top: 3rem;
  }
  /* background circles */
  .notes .bg-circle {
    border-radius: 788px;
    height: 35rem;
    width: 35rem;
    animation: movec 3s ease-in-out .2s infinite alternate;
  }
  @keyframes movec {
    from {
      top: 0%;
    }
    to {
      top: 105%;
    }
  }
  .notes .heading {
    width: 100%;
    height: 2rem;
    margin-bottom: 1.5rem;
  }
  .notes .heading svg {
    position: absolute;
    height: 2.6rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .notes .heading h3 {
    font-size: 1.2rem;
    font-weight: 300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .notes .container {
    min-height: 15rem;
    gap: 1.5rem;
    padding: 1rem 0;
  }
  .notes .container h1 {
    font-size: 1.4rem;
    font-weight: 600;
  }
  .notes .container .notes-container {
    gap: 1.2rem;
    padding: 0 0 .5rem;
  }
  .notes .container .box {
    width: 13%;
    min-width: 12rem;
    min-height: 10rem;
  }
  /* image section notes */

  .notes .container .box .p1 {
    width: 100%;
    height: 6rem;
  }
  /* text section */
  .notes .container .box .p2 {
    width: 100%;
    min-height: 4.5rem;
    max-height: 6rem;
    gap: 6px;
  }
  .notes .container .box .p2  h3,
  h4 {
    font-size: 1.1rem;
  }
  .notes .container .box .p2  h4 {
    font-size: .8rem;
    font-weight: 300;
    padding: 0 .6rem .2rem;
  }
  /* -------------------------SHIVANI PDF CSS STARTS ---------------------------------- */
  .shivani-pdf {
    min-height: 50vh;
    margin-top: 2rem;
    padding: 1rem 0;
  }
  .shivani-pdf .heading {
    height: 2rem;
    margin-bottom: 1.8rem;
  }
  .shivani-pdf .heading svg {
    height: 2.6rem;
  }

  .shivani-pdf .heading h3 {
    font-size: 1.2rem;

    font-weight: 300;
  }
  .shivani-cont {
    padding: 1rem 3rem;
    gap: 2rem;
  }
  .shivani-cont .book {
    min-height: 12rem;
    max-height: 18rem;
    width: 11rem;
  }
  .shivani-cont .book .shivani-img {
    height: 14rem;
    max-height: 16rem;
  }
  .shivani-cont .book .shivani-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
  .shivani-cont .book .shivani-txt {
    min-height: 3rem;
    padding: .3rem .5rem;
    gap: 3px;
  }
  .shivani-cont .book .shivani-txt .sub-heading {
    font-size: 12px;
    font-weight: 400;
  }
  .shivani-cont .book .shivani-txt .shivani-name {
    font-size: 1.1rem;
    font-weight: 600;
  }
}



@media screen and (max-width: 700px) {
  .notes {
    padding: .8rem .4rem;
    gap: 1rem;
    margin-top: 3rem;
  }

  /* background circles */
  .notes .bg-circle {
    border-radius: 788px;
    height: 17rem;
    width: 17rem;
    animation: movec 4s ease-in-out .3s infinite alternate;
    /* filter: blur(0px); */
    filter: blur(100px);
    /* filter: blur(300); */
  }

  @keyframes movec {
    from {
      top: 0%;
    }
    to {
      top: 0%;
      top: 105%;
    }
  }

  /* background circles 2 in reverse */
  .notes .bg-circle-m {
    border-radius: 788px;
    height: 17rem;
    width: 17rem;
    filter: blur(100px);
    display: block;
    /* animation: movecm 3s ease-in-out .2s infinite alternate; */
    animation: movecm 4s ease-in-out .3s infinite alternate-reverse;
  }

  @keyframes movecm {
    from {
      top: 0%;
    }
    to {
      top:105%;
    }
  }

  .notes .heading {
    width: 100%;
    height: 2rem;
    margin-bottom: 1.5rem;
    /* background-color: #9000ff1f; */
  }

  .notes .heading svg {
    position: absolute;
    height: 2.3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .notes .heading h3 {
    font-size: 1rem;
    font-weight: 300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .notes .container {
    min-height: 15rem;
    gap: 1rem;
    padding: 1rem 0;
    margin-bottom: 1rem;
  }
  
.container::before {
  border-radius: 10px; /* same value as the main element */
  padding: 1.2px; /* same value as the padding of the main element */
  background: linear-gradient(
    to right,
    #ffffff,
    #ffffff41
  ); /* gradient background */
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
/* container 2 and 4 th border color */
.container2::before {
  background: linear-gradient(to right, #ffffff41, #fff);
}
.container4::before {
  background: linear-gradient(to right, #ffffff41, #fff);
}

  .notes .container h1 {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
  }
  .notes .container .notes-container {
    gap: .9rem;
    padding: 0 0 .5rem;
  }
  .notes .container .box {
    
    min-width: 8rem;
    min-height: 7.5rem;
  }

  /* image section notes */

  .notes .container .box .p1 {
    width: 100%;
    height: 4.5rem;
  }

  
  /* text section */
  .notes .container .box .p2 {
    width: 100%;
    min-height: 3rem;
    /* max-height: 3.5rem; */
    gap: 3px;
  }
  .notes .container .box .p2  h3,
  h4 {
    font-size: .8rem;
    margin-top: 2px;
  }
  .notes .container .box .p2  h4 {
    font-size: .7rem;
    font-weight: 300;
    padding: 0 .3rem .2rem;
  }


  /* -------------------------SHIVANI PDF CSS STARTS ---------------------------------- */

  .shivani-pdf {
    min-height: 50vh;
    margin-top: 1.5rem;
    padding: 1rem 0;
  }

  .shivani-pdf .heading {
    height: 2rem;
    margin-bottom: 1.8rem;
  }
  .shivani-pdf .heading svg {
    height: 2.3rem;
  }

  .shivani-pdf .heading h3 {
    font-size: 1rem;

    font-weight: 300;
  }

  .shivani-cont {
    padding: 1rem 1rem;
    gap: .95rem;
  }
  .shivani-cont .book {
    min-height: 8rem;
    max-height: 17rem;
   width: 8rem;
  }
  .shivani-cont .book .shivani-img {
    height: 10rem;
    max-height: 16rem;
  }
  .shivani-cont .book .shivani-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
  .shivani-cont .book .shivani-txt {
    min-height: 2rem;
    padding: .2rem .25rem;
    gap: 0px;
  }
  .shivani-cont .book .shivani-txt .sub-heading {
    font-size: 10px;
    font-weight: 400;
    margin-top: 3px;
  }
  .shivani-cont .book .shivani-txt .shivani-name {
    font-size: .96rem;
    font-weight: 500;
  }
}


/* ------------- footer section ------------------ */
.footer {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  padding: 5rem 0 .5rem;
}

.footer .thank-box{
  /* color: white; */
  display: flex;
  justify-content: center;
align-items: center;
flex-direction: column;
  
}

.footer .thank-box p{
  color: #d6d6d6;
  font-family: var(--ff-maven);
  font-size: 1.2rem;
  padding: 1rem 0;
}

.footer .thank-box p .mail{
  background: linear-gradient(91deg, #fff 3.67%, #fff 11.67%, #c579ff 95.79%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.footer .thank-box h1 {
  text-align: center;
  font-size: 10rem;
  /* font-family: var(--ff-changa); */ /* font-family: var(--ff-maven); */
  font-family: var(--ff-cinzel);
  font-weight: 700;
  color: #ffffffcf;
  line-height: 10rem;
  /* color: transparent; */
  filter: drop-shadow(1px 2px 16px #6b0099);
  /* filter: drop-shadow(1px 2px 6px #b300ff ); */
}
.footer img {
  height: 3.5rem;
}
.footer h3 {
  color: #fff;
  font-size: 1.2rem;
  font-family: var(--ff-maven);
  font-weight: 400;
}
.footer h3 span {
  background: linear-gradient(91deg, #fff 3.67%, #fff 11.67%, #9000ff 95.79%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Maven Pro";
  font-weight: 500;
}


/* ============ ---------- Responsive code ---------=============== */
@media screen and (max-width: 1024px) {
  .footer {
    gap: 3.5rem;
    padding: 3rem 0 1rem;
  }
  .footer .thank-box h1 {
    font-size: 6rem;
    line-height: 6rem;
  }
  .footer img {
    height: 3rem;
  }

  .footer h3 {
    color: #fff;
    font-size: 1rem;
    font-family: var(--ff-maven);
    font-weight: 400;
  }
}
@media screen and (max-width: 700px) {
  .footer {
    gap: 3rem;
    padding: 3rem 0 1rem;
  }
  .footer .thank-box p{
    color: #d6d6d6e2;
    font-family: var(--ff-maven);
    font-size: .8rem;
    padding: 1rem .6rem;
    text-align: center;
  }
  
  .footer .thank-box p .mail{
    background: linear-gradient(91deg, #fff 3.67%, #fff 11.67%, #c579ff 95.79%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
  }
  

  .footer .thank-box h1 {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
  }
  .footer img {
    height: 2.5rem;
  }

  .footer h3 {
    color: #fff;
    font-size: 1rem;
    font-family: var(--ff-maven);
    font-weight: 400;
  }
}
